
<html>
    <head>
      <title>wtf</title>
        <link rel="stylesheet" type="text/css" href="./public/style/index.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="./public/js/getResources.js"></script>
    </head>
    <body>

      <div class="page-container">
      <div class="sidebar"> 
        <h1 class="title"><span>M-x</span><span> Butterfly</span></h1>
        <ul class="categories">
          <li onclick="listResource(this.id)" id="movies" class="category movies">Movies</li>
          <li onclick="listResource(this.id)" id="series" class="category series">Series</li>
          <li ionclick="listResource(this.id)" d="category" class="category educational">Educational</li>
          <li onclick="listResource(this.id)" id="podcasts" class="category podcasts">Podcasts</li>
          <li onclick="listResource(this.id)" id="ebooks" class="category ebooks">eBooks</li>
      </div>
      <a href="/streaming">Something is happening, baby!</a>

      <div class="content">
        <div class="search-container">
          <input type="text" class="search" placeholder=" /([A-Z)\/g Search">
        </div>
        <div class="below-search-container">
        </div>
        <div class="content-list-container">
          <ul class="content-list">
            <li class="list"><div id="santja">sntj</div></li>
            <li class="list">qweqw</li>
            <li class="list">qweqw</li>
            <li class="list">qweqw</li>
            <li class="list">qweqw</li>
            </ul>
        </div>
      </div>

      <!--> End of pager-container -->
      </div>
    </body>
</html>
