doctype html
html(lang="en")
    head
        title= pageTitle
    body
        h1 jade - Node template Engine
        #container.col
            -for record in records
                div= record.color
            p.
            Jade is adsadpasldpasldpasldpladplaplbvpf
            spdlfpsdlfpsdlfpsdlfps
            sdlf.
